    div.container {
        max-width: 900px;
        margin: auto;
    }
    div {
            margin-top: 5px;
            padding-top: 10px;
            background-color: lightblue;
            text-align: left;
        }
        div.first-background {
            margin-top: 5px;
            padding-top: 10px;
            background-color: lightgreen;
            text-align: left;
        }
        span {
            padding-left: 40px;
            background-color: lightgrey;
            border: 1px solid red;
        }
    span#second-border {
        padding-left: 40px;
        background-color: lightgrey;
        border: 3px solid green;
    }